/* 375px */
@media (max-width: 23.4375em) {
  .wrapper {
    height: auto;
  }

  .card {
    grid-template-columns: 1fr;
  }

  .left-box {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .avg-score-box {
    width: 10rem;
    height: 10rem;
  }

  .avg-score-total-points {
    font-size: 1.0625rem;
  }

  .score-description {
    width: 90%;
  }
}
