@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /* primary colors */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* gradients */
  --slate-blue: hsl(252, 100%, 67%);
  --royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /* neutral colors */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  /* font weights */
  --font-weight-normal: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: 1;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 70rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0 10px 30px hsla(241, 81%, 54%, 0.1);
  border-radius: 33px;
  background-color: var(--white);
}

.left-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.2rem 2.4rem;
  text-align: center;
  border-radius: 33px;
  background: linear-gradient(to bottom, var(--slate-blue), var(--royal-blue));
}

.result-heading {
  margin-bottom: 2.8rem;
  font-size: 2.2rem;
  font-weight: var(--font-weight-normal);
  color: var(--light-lavender);
}

.avg-score-box {
  width: 18rem;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.2rem;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    var(--violet-blue),
    var(--persian-blue)
  );
}

.avg-score span {
  display: block;
}

.avg-score-points {
  margin-bottom: 1.2rem;
  font-size: 6rem;
  font-weight: var(--font-weight-extra-bold);
  color: var(--white);
}

.avg-score-total-points {
  font-size: 1.5rem;
  color: hsla(241, 100%, 89%, 0.5);
}

.score-grade {
  margin-bottom: 2rem;
  font-size: 3rem;
  color: var(--white);
}

.score-description {
  width: 85%;
  font-size: 1.8rem;
  font-weight: var(--font-weight-normal);
  line-height: 1.6;
  color: var(--light-lavender);
}

.right-box {
  padding: 3.2rem 3rem;
}

.summary-heading {
  margin-bottom: 2.4rem;
  font-size: 2.2rem;
  color: var(--dark-gray-blue);
}

.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3.2rem;
}

.score-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  border-radius: 9px;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.score-heading {
  font-size: 1.6rem;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.6rem;
}

.score span {
  font-size: 1.6rem;
}

.score-total-points {
  color: hsla(224, 30%, 27%, 0.5);
}

.reaction-box {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.reaction-heading {
  color: var(--light-red);
}

.memory-box {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.memory-heading {
  color: var(--orangey-yellow);
}

.verbal-box {
  background-color: hsla(166, 100%, 37%, 0.1);
}

.verbal-heading {
  color: var(--green-teal);
}

.visual-box {
  background-color: hsla(241, 81%, 54%, 0.1);
}

.visual-heading {
  color: var(--royal-blue);
}

.btn:link,
.btn:visited {
  display: block;
  padding: 1.6rem 0;
  border-radius: 100px;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  background-color: var(--dark-gray-blue);
}
